{% extends 'base.html.twig' %}

{% form_theme edit_form _self %}

{% block sonata_type_model_hidden_widget %}
    <li class="list-group-item groupRow" data-group-id="{% if value %}{{ value }}{% endif %}">
        <span class="groupName">{% if data %}{{ data.name }} {% if data.provider and data.provider.id != providerId %}({{ data.provider.name }}){% endif %}{% endif %}</span>
        {{ form_widget(form) }}

        {% if name == "__name__" or ( data and data.manageManually ) %}
            &nbsp; <a class="deleteBt btn btn-danger" onclick="deleteGroupRow(this)">Elimina</a>
        {% endif %}
    </li>
{% endblock %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <h1>Modifica Studente</h1>
            <fieldset class="ui-grid-a">
                <div class="ui-block-a">
                    {{ form_start(edit_form) }}
                        {{ form_errors(edit_form) }}

                        {{ form_row(edit_form.fiscalCode) }}
                        {{ form_row(edit_form.lastname) }}
                        {{ form_row(edit_form.firstname) }}
                        {{ form_row(edit_form.username) }}
                        {{ form_row(edit_form.email) }}

                        {{ form_row(edit_form.provider) }}
                        {{ form_row(edit_form.additionalProviders) }}

                        {{ form_label(edit_form.memberOf) }}
                        <ul id="groupsList" class="list-group"
                            data-prototype="{{ form_widget(edit_form.memberOf.vars.prototype)|e }}">
                            {% for groupField in edit_form.memberOf %}
                                {{ form_widget(groupField, {'providerId' : providerId}) }}
                            {% endfor %}
                        </ul>
                        {% do edit_form.memberOf.setRendered %}

                        <div id="groupAddCont">
                            <select name="groupAddSelect" id="groupAddSelect">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }} {% if group.provider and group.provider.id != providerId %}({{ group.provider.name }}){% endif %}</option>
                                {% endfor %}
                            </select>
                            <a class="btn btn-secondary" id="groupAddBtn">Aggiungi</a>
                        </div>

                        {{ form_widget(edit_form.submit, {'attr':{'style' : 'display: none'}}) }}

                    {{ form_end(edit_form) }}
                    <br/>
                </div>
            </fieldset>

            <div class="row sendBtnArea">
                <div class="col-md-4">
                    <label for="{{ edit_form.submit.vars.id }}"
                           class="btn btn-success">{{ edit_form.submit.vars.label }}</label>
                </div>
                <div class="col-md-4 text-sm-center">
                    <a href="{{ groupId != "" ? path('group_show', {'id': groupId }) : path('student_list') }}"
                       class="btn btn-info">
                        Ritorna alla lista
                    </a>
                </div>
                <div class="col-md-4 text-sm-right">
                    {#{% if delete_form is defined %}#}
                    {#{{ form(delete_form) }}#}
                    {#{% endif %}#}
                    <a href="{{ path('student_delete_form', {'id': entity.id, 'groupId': groupId }) }}"
                       class="btn btn-danger">
                        Elimina
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function deleteGroupRow(el) {
            var $groupRow = $(el).parent();
            $groupRow.remove();
        }

        $(document).ready(function () {
            var $groupSelect = $('#groupAddSelect');
            var $groupList = $("#groupsList");
            var $groupAddBtn = $('#groupAddBtn');

            $groupList.data('counter', $groupList.find(".groupRow").length);

            $groupAddBtn.click(function () {
                var selectedGroupId = $groupSelect.val();
                var groupListRows = $groupList.find(".groupRow").toArray();

                if (selectedGroupId === null || selectedGroupId === "") {
                    return;
                }

                for (var i in groupListRows) {
                    if ($(groupListRows[i]).data('group-id') == selectedGroupId) {
                        alert("Gruppo già presente");
                        return;
                    }
                }

                var counter = $groupList.data('counter');
                var baseName = "student_memberOf_" + counter;
                var $newRow = $($groupList.data('prototype').replace(/__name__/g, counter));
                $newRow.data('group-id', selectedGroupId);
                $newRow.children('.groupName').append($groupSelect.children("option:selected").text());
                $newRow.find("#" + baseName).val(selectedGroupId);

                $groupList.append($newRow);
                $groupList.data('counter', counter + 1);
            })

        });
    </script>

{% endblock %}
