{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .custom-file-label { opacity: 0; }
        .custom-file-input { opacity: 1; }
    </style>
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
    <h1>Aggiunta massiva degli ospiti - fase di inserimento dei dati</h1>

    <form action="{{ path('guest_add_massive') }}" method="post" enctype="multipart/form-data">
        {{ form_errors(form) }}
        <div class="row sendBtnArea">
            <div class="col-sm-4">
                {{ form_label(form.file) }}<br>
                {{ form_widget(form.file) }}
            </div>
            <div class="col-sm-8">
                <div class="alert alert-info">
                    <h3>Attenzione!</h3>
                    <ul>
                    <li>Il file MS Excel deve avere come prima colonna il <strong>cognome</strong> e nella seconda colonna il <strong>nome</strong> dell'utente ospite per cui creare l'account.</li>
                    <li>Verranno elaborate tutte le right fino alla prima con cognome vuoto.</li>
                    <li>Verrà restituito un nuovo file con nella terza colonna lo <strong>username</strong> e nella quarta colonna la <strong>password</strong> per l'accesso.</li>
                    </ul>
                </div>
            </div>
        </div>




        {{ form_widget(form) }}
        {{ form_rest(form) }}

        <div class="row sendBtnArea">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Aggiungi gli ospiti indicati nel file caricato</button>
            </div>
            <div class="col-sm-4 text-sm-center">

            </div>
            <div class="col-sm-4 text-sm-right">
                <a href="{{ path('guest') }}" class="btn btn-info">
                    Ritorna alla lista
                </a>
            </div>
        </div>
    </form>
    </div>
</main>
{% endblock %}
