{% extends 'base.html.twig' %}
{% block body %}
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
    <h1>Aggiunta di un nuovo ospite</h1>

    <form action="{{ path('guest_create') }}" method="post" >
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}

        <div class="row sendBtnArea">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Aggiungi questo ospite</button>
            </div>
            <div class="col-sm-4 text-sm-center"></div>
            <div class="col-sm-4 text-sm-right">
                <a href="{{ path('guest') }}" class="btn btn-info">
                    Ritorna alla lista
                </a>
            </div>
        </div>
    </form>
    </div>
</main>
{% endblock %}
