Salve,

igroove ha riscontrato un problema creando l'utente Active Directory per lo studente:

Nome: {{ student.firstname }}
Cognome: {{ student.lastname }}
ID: {{ student.distinguishedId }}
Username: {{ student.username }}
Starting password: {{ student.startingPassword }}

Lo staff di igroove.
