{% extends 'base.html.twig' %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="row gap-20">
                {% if not menu_render.disableGuest %}
                {% if is_granted('ROLE_RECEPTION') %}
                    <div class="col-md-3">
                        <div class="layers bd bgc-white p-20">
                            <div class="layer w-100 mB-10">
                                <h6 class="lh-1">
                                    <span class="icon-holder"><i class="c-brown-500 ti-layout-list-thumb"></i></span>
                                    Reception
                                </h6>
                                <div class="layer w-100">
                                    <div class="bdT w-100 p-10">
                                        <ul>
                                            <li><a href="{{ url('guest') }}">Gestione degli ospiti</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endif %}

                {% if not menu_render.onlyReception and (menu_render.userCanChangeOwnPassword or  menu_render.showBadge) %}
                    <div class="col-md-3">
                        <div class="layers bd bgc-white p-20">
                            <div class="layer w-100 mB-10">
                                <h6 class="lh-1">
                                    <span class="icon-holder"><i class="c-blue-500 ti-user"></i></span>
                                    Utente
                                </h6>
                                <div class="layer w-100">
                                    <div class="bdT w-100 p-10">
                                        <ul>
                                            {% if menu_render.userCanChangeOwnPassword %}
                                                <li><a href="{{ url ('changeMyPassword') }}">Cambia la tua
                                                        password</a>
                                                </li>
                                            {% endif %}

                                            {% if menu_render.showBadge %}

                                                <li><a href="{{ url ('printMyBadge' ) }}">Stampa il tuo badge
                                                        informatico</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if not menu_render.onlyReception and is_granted('ROLE_TEACHER') %}
                    <div class="col-md-3">
                        <div class="layers bd bgc-white p-20">
                            <div class="layer w-100 mB-10">
                                <h6 class="lh-1">
                                       <span class="icon-holder"><i
                                                   class="c-deep-orange-500 ti-ruler-pencil"></i></span>
                                    Insegnante
                                </h6>
                                <div class="layer w-100">
                                    <div class="bdT w-100 p-10">
                                        <ul>
                                            <li><a href="{{ url('group_providers_list') }}">Visualizza gli
                                                    elenchi di
                                                    classe</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-3">
                    <div class="layers bd bgc-white p-20">
                        <div class="layer w-100 mB-10">
                            <h6 class="lh-1">
                                <span class="icon-holder"><i class="c-indigo-500 ti-crown"></i></span>
                                Amministratore
                            </h6>
                            <div class="layer w-100">

                                <div class="bdT w-100 p-10">
                                    <ul>

                                        <li><a href="{{ url('config_edit') }}" data-prefetch>Configurazione
                                                igroove</a></li>
                                        {# <li><a href="{{ path('sonata_admin_dashboard') }}" target="_blank">Database dashboard</a></li>#}
                                        {% if not menu_render.onlyReception %}
                                            <li>
                                                <a href="{{ app.request.scheme ~ '://' ~ app.request.host }}:15672/#/queues"
                                                   target="_blank">Gestione RabbitMQ
                                                </a></li>
                                            <li><a href="{{ url('teacher_list') }}" data-prefetch>Lista Docenti</a></li>
                                            <li><a href="{{ url('student_list') }}" data-prefetch>Lista Studenti</a>
                                            </li>

                                        {% endif %}
                                        {#     <li><a href="{{ url('service') }}" data-prefetch>Riavvia i servizi</a></li>#}
                                    </ul>


                                </div>
                            </div>
                            {% if version.versionInstalled!=version.versionAvailable %}
                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <strong>Ci sono novità!</strong> Stai usando igroove
                                    versione {{ version.versionInstalled }}
                                    mentre è disponibile la versione {{ version.versionAvailable }}.
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="layers bd bgc-white p-20">
                        <div class="layer w-100 mB-10">
                            <h6 class="lh-1">
                                <span class="icon-holder"><i class="c-teal-500 ti-control-shuffle"></i></span>
                                Rete
                            </h6>
                            <div class="bdT w-100 p-10">
                                <ul>
                                    {% if not menu_render.disableMikrotikBypass %}
                                    <li><a href="{{ url('device') }}" data-prefetch>Gestione ip e dispositivi</a>
                                        {% endif %}
                                    </li>
                                    <li><a href="{{ url('mikrotik_list') }}" data-prefetch>Liste IP</a></li>
                                    <li><a href="{{ url('mikrotik_pool') }}" data-prefetch>Pool di indirizzi
                                            IP</a></li>
                                    <li><a href="{{ url('mikrotik') }}" data-prefetch>Router</a></li>

                                </ul>


                            </div>

                        </div>
                    </div>

                    {% endif %}


                </div>
            </div>

        </div>
    </main>

{% endblock %}



