{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ asset('assets/app.css') }}" />
    <style>
        #loader {
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000;
        }
        #loader.fadeOut {
            opacity: 0;
            visibility: hidden;
        }
        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }
        @-webkit-keyframes sk-scaleout {
            0% { -webkit-transform: scale(0) }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }
        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            } 100% {
                  -webkit-transform: scale(1.0);
                  transform: scale(1.0);
                  opacity: 0;
              }
        }
    </style>
</head>
<body class="app">
<div class="peers ai-s fxw-nw h-100vh">
    {#<div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image:  url("{{ asset('assets/images/bg.jpg') }}")'>#}
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
             {% if randomImage!='' %}
             style='background-image:  url("/images/login/{{ randomImage }}")'
             {% endif %}
        >
        {#<div class="pos-a centerXY">#}
        {#<div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>#}
        {#<img class="pos-a centerXY" src="{{ asset('images/logo.png') }}" alt="logo" width="60px"/>#}
        {#</div>#}
        {#</div>#}
    </div>

    <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            <br/>
        {% endif %}

        <h3>Welcome to igroove</h3>

        <h6 class="fw-300 c-grey-900 mB-40 small">
            Versione {{ version.versionInstalled }}
            {% if  version.versionInstalled==version.versionAvailable %}
                <i class="ti-check"></i>
            {% else %}
                <i class="ti-alert" title="{{ version.versionAvailable }}"></i>
            {% endif %}

        </h6>

        <form action="{{ path('login') }}" method="post" class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ token }}"/>
            <div class="form-group">
                <label class="text-normal text-dark">Nome utente:</label>
                <input type="text" class="form-control" placeholder="Il tuo nome utente" id="username" name="_username" value="{{ last_username }}" required="required">
            </div>
            <div class="form-group">
                <label class="text-normal text-dark">Password:</label>
                <input type="password" class="form-control" placeholder="La tua password" id="password" name="_password" required="required">
            </div>
            <div class="form-group">
                <div class="peers ai-c jc-sb fxw-nw">
                    <div class="peer">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                            <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                                <span class="peer peer-greed">Ricorda il mio accesso</span>
                            </label>
                        </div>
                    </div>
                    <div class="peer">
                        <button class="btn btn-primary" id="_submit" name="_submit">Accedi</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>




</body>
<script src="{{ asset('assets/app.js') }}"></script>
</html>