{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _apple_school_locations_entry_widget %}
    <tr class="ipRow">
        <td>{{ form_widget(form.name) }}</td>
        <td>
            <button class="deleteBt btn btn-danger" onclick="deleteIpRow(this)">Elimina</button>
        </td>
    </tr>

    {% if not form.name.vars.valid %}
    <tr>
        <td colspan="3">{{ form_errors(form.name) }}</td>
    </tr>
    {% endif %}

{% endblock %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
        <h1>Apple School</h1>

    {{ form_start(form) }}
        {{ form_errors(form, { 'global_errors': true }) }}

        {{ form_row(form.organizationName) }}
        {{ form_row(form.organizationId) }}
        {{ form_row(form.sftpUsername) }}
        {{ form_row(form.sftpPassword) }}
        {{ form_row(form.courseType) }}

        {{ form_label(form.locations) }}
        <table id="locationsList" data-prototype="{{ form_widget(form.locations.vars.prototype)|e }}">
            {% for location in form.locations %}
                {{ form_widget(location) }}
            {% endfor %}
        </table>
        {% do form.locations.setRendered %}

        <div id="locationAddCont" style="margin-bottom: 1rem">
            <button class="btn btn-secondary" id="locationAddBtn">Aggiungi</button>
        </div>

        {{ form_row(form.active) }}

        {{ form_rest(form) }}

        <div class="row sendBtnArea">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Salva</button>
            </div>
            <div class="col-sm-4 text-sm-center">
                <a href="{{ path('config_edit') }}#appleSchool" class="btn btn-info">
                    Ritorna alla lista
                </a>
            </div>
            {% if entity.id %}
            <div class="col-sm-4 text-sm-right">
                <a href="{{ path('config_apple_school_delete', { 'id': entity.id }) }}" class="btn btn-danger">Rimuovi</a>
            </div>
            {% endif %}
        </div>

    {{ form_end(form) }}

    </div>
</main>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function deleteIpRow(el) {
            var $ipRow = $(el).parent().parent();
            $ipRow.remove();
        }

        $(document).ready(function() {
            var $locationsList = $("#locationsList");
            var $locationAddBtn = $('#locationAddBtn');

            $locationsList.data('counter', $locationsList.find(".ipRow").length);

            $locationAddBtn.click(function () {
                var counter = $locationsList.data('counter');
                var $newRow = $($locationsList.data('prototype').replace(/__name__/g, counter));
                $locationsList.append($newRow);
                $locationsList.data('counter', counter + 1);

                {# var ipListRows = $locationsList.find(".ipRow").toArray(); #}

                {# for(var i in ipListRows) { #}
                {# if ($(ipListRows[i]).data('pool-id') == selectedPoolId) { #}
                {# alert("È già presente un indirizzo per il pool in questione"); #}
                {# return; #}
                {# } #}
                {# } #}

                {# $.get("{{ path('mikrotik_pool_check_free_ip', {'id': "%id"}) }}".replace("%25id", selectedPoolId), function (data) { #}
                {# var ip = ""; #}
                {# if (data.error !== undefined) { #}
                {# alert('Si è verificato un errore: ' + data.error); #}
                {# } else if (data.ip !== undefined || data.ip != "") { #}
                {# ip = data.ip; #}
                {# } #}

                {# var counter =  $ipList.data('counter'); #}
                {# var baseName = "device_ips_"+counter; #}
                {# var $newRow = $($ipList.data('prototype').replace(/__name__/g, counter)); #}
                {# $newRow.data('pool-id', selectedPoolId); #}
                {# $newRow.children('.ipRowPoolName').append($poolSelect.children("option:selected").text()); #}
                {# $newRow.find("#"+baseName+"_ip").val(ip); #}
                {# $newRow.find("#"+baseName+"_mikrotikPool").val(selectedPoolId); #}

                {# $ipList.append($newRow); #}
                {# $ipList.data('counter', counter + 1); #}
                {# $ipAddMikrotikPoolBtn.text("Aggiungi"); #}
                {# poolLoading = false; #}
                {# }, 'json').fail(function() { #}
                {# $ipAddMikrotikPoolBtn.text("Aggiungi"); #}
                {# poolLoading = false; #}
                {# }); #}

                {# $ipAddMikrotikPoolBtn.text("Caricamento..."); #}
                {# poolLoading = true; #}
                {# }) #}
            });
        });
    </script>


{% endblock %}
