{% extends 'base.html.twig' %}

{% block body -%}
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
    <h1>Mikrotik - Liste IP</h1>

    <table class="table table-striped table-hover ">

    <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Ip mikrotik</th>
                <th>Attivazione</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-list-name="{{ entity.nome }}">
                <td>
                    {% if entity.state=='active' %}
                        <i class="ti-world"></i>
                        {% if entity.endingTime %}{{ entity.endingTime }}{% endif %}
                        {% if entity.activedBy != "" %}<br /><div class="badge badge-success lh-0 p-10">{{ entity.activedBy }}</div>{% endif %}
                    {% endif %}
                </td>
                <td><a href="{{ path('mikrotik_list_edit', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
                <td>{{ entity.mikrotik }}</td>
                <td>
                    {% if entity.state=='not-active' %}
                        <button id="internetOn-{{ entity.id }}" class="btn btn-success internetOn">
                            <i class="ti-alarm-clock"></i> Attiva
                        </button>
                    {% elseif entity.state=='activating' %}
                        <span class="label label-warning">In Attivazione</span>
                    {% else %}
                        <button id="internetEx-{{ entity.id }}" class="btn btn-warning internetOn">
                            <i class="ti-alarm-clock"></i> Estendi
                        </button>
                        <a href="{{ path('internetOffIpList',{'mikrotikListId': entity.id}) }}" class="btn btn-danger"
                                {% if entity.activedByOtherUser %} onclick="return confirm('Non sei stato tu ad abilitare quest\'aula. Sicuro di volerla disattivare?')"{% endif %}
                        >
                            Disattiva
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" href="{{ path('mikrotik_list_new') }}">
                Aggiungi una nuova lista
            </a>
        </div>
        <div class="col-md-4">
            <form class="form-search" action="{{ path('mikrotik_list') }}">
                <div class="form-group">
                    <input type="text"  style="width: inherit; display: inline;"
                           id="queryString" name="queryString" class="form-control" placeholder="Cerca">
                    <button class="btn btn-secondary" type="submit"><i class="ti-search"></i></button>     </div>

            </form>
        </div>
    </div>


    <div class="modal fade" id="setTime" tabindex="-1" role="dialog" aria-labelledby="setTime" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Attivazione internet</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    Attiva <span id="setTimeList"></span> fino alle: <input type="text" id="timeToSet"
                                                                            value="{{ timeToSet|date("H:i") }}" title="orario di fine" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button id="setTimeConfirm" type="button" class="btn btn-primary">Attiva</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function($) {
            var timeToSet = '{{ timeToSet|date("H:i") }}';
            var setTimeModal = $("#setTime");
            var timeToSetInput = $('#timeToSet');

            $(".internetOn").click(function () {
                setTimeModal.modal('show');
                $("#setTimeConfirm").data("mikrotikListId",$(this).attr("id").substring(11));
                $('#setTimeList').html($(this).data('list-name'));
            });

            $("#setTimeConfirm").click(function () {
                if(timeToSetInput.val() !== "")
                    timeToSet = timeToSetInput.val();
                window.location.href = "{{ path('internetOnIpList',{'mikrotikList': '%mikrotikListId'}) }}?timeToSet=".replace("%25mikrotikListId",$(this).data("mikrotikListId")) + timeToSet;
                setTimeModal.modal('hide');
            });

            $(document).ajaxError(function (event, jqXHR) {
                if (jqXHR.status === 403 && jqXHR.responseText === "Authentication timeout") {
                    window.location.reload();
                }
            });
        });
    </script>
{% endblock %}
