{% extends 'base.html.twig' %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <h1>
                <a href="{{ path('group_providers_list') }}">
                    Studenti
                </a>
                &gt;
                <a href="{{ path ('list_groups_in_provider', { 'providerId': provider.id }) }}">
                    {{ provider.name|capitalize }}
                </a>
                {% if group.sector %}
                    &gt;
                    <a href="{{ path ('list_groups_in_provider', { 'providerId': provider.id, 'sectorId': group.sector.id }) }}">
                        {{ group.sector.name }}
                    </a>
                {% endif %}
                &gt; {{ group }}
            </h1>

            <h3>Legenda</h3>
            <p>
                <i class="ti-world"></i> Navigazione attiva &nbsp;
                <i class="ti-mobile"></i> Sono permessi dispositivi personali
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th>Cognome e nome</th>
                        {% if teacherCanSeeList %}
                            <th>Username</th>
                            <th>Email</th>
                            <th>ID</th>
                        {% endif %}
                        <th></th>
                        <th></th>
                    </tr>
                    {% for user in students %}
                        <tr class="student-row" data-person-name="{{ user.student.username }}"
                            data-person-id="{{ user.student.id }}">
                            <td>
                                {% if user.state=='user-active' %}
                                    <i class="ti-world"></i>
                                    {% if user.permitPersonalDevices %}
                                        <i class="ti-mobile"></i>
                                    {% endif %}
                                    {% if user.ending_time %}
                                        {{ user.ending_time }}
                                    {% endif %}
                                    {% if user.activedBy != "" %}<br/>
                                        <div class="badge badge-success lh-0 p-10">{{ user.activedBy }}</div>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {{ user.student.lastname }} {{ user.student.firstname }} <br/>
                            </td>
                            {% if teacherCanSeeList %}
                                <td>{{ user.student.username }}</td>
                                <td>{{ user.ldapUser.email }}</td>
                                <td>{{ user.student.fiscalCode }}</td>
                            {% endif %}
                            <td style="text-align: right">
                                {% if user.state=='not-active' %}
                                    <button id="internetOn-{{ user.student.id }}"
                                            class="btn btn-success internetOn" {{ (not user.student.username)?"disabled" }}>
                                        <i class="ti-alarm-clock"></i> Attiva
                                    </button>
                                {% elseif user.state=='activating' %}
                                    <span class="label label-warning">In Attivazione</span>
                                {% else %}
                                    <button id="internetEx-{{ user.student.id }}" class="btn btn-warning internetOn">
                                        <i class="ti-alarm-clock"></i> Estendi
                                    </button>
                                    <a href="{{ path('internetOffUser',{'providerId': provider.id, 'groupId': group.id, 'studentId': user.student.id}) }}"
                                       class="btn btn-danger"
                                            {% if user.activedByOtherUser %} onclick="return confirm('Non sei stato tu ad abilitare questo studente. Sicuro di volerlo disattivare?')"{% endif %}
                                    >
                                        Disattiva
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Azioni <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        {% if teacherCanSeeList or currentUserIsAdmin %}
                                            <a href="#" class="dropdown-item showPersonDataBt">
                                                Visualizza i dati
                                            </a>
                                        {% endif %}
                                        {% if (teacherCanResetPassword and teacherCanSeeList) or currentUserIsAdmin %}
                                            <a href="#" class="dropdown-item resetPersonPasswordBt"
                                               data-person-pass="{{ user.student.startingPassword }}">
                                                Reimposta la password
                                            </a>
                                        {% endif %}
                                        {% if currentUserIsAdmin %}
                                            <a href="#" class="dropdown-item renewPersonPasswordBt">
                                                Crea una nuova password
                                            </a>
                                            <a class="dropdown-item" href="{{ path('student_edit',{'id': user.student.id, 'groupId': group.id}) }}">
                                                Modifica l'utente
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <a href="{{ path ('list_groups_in_provider', { 'providerId': provider.id }) }}" class="btn btn-secondary">
                <i class="ti-arrow-left"></i>Ritorna alla lista {{ provider.name }}
            </a>
            {% if teacherCanSeeList %}
                <a href="{{ path('print_students_in_group',{'providerId': provider.id, 'groupId':group.id, '_format': 'pdf'}) }}"
                   class="btn btn-info" target="_blank">Stampa lista studenti</a>
            {% endif %}
            {% if currentUserIsAdmin %}
                <a href="{{ path('student_new',{'providerId': provider.id, 'groupId':group.id}) }}"
                   class="btn btn-success">Crea Nuovo Studente</a>
                <a href="{{ path('group_edit', {'providerId': provider.id, 'groupId':group.id}) }}"
                   class="btn btn-primary">Modifica Gruppo</a>
            {% endif %}



            {% include 'components/student_activation_modal.html.twig' %}
            {% include 'components/user_actions_modal.html.twig' with {personType: 'student'} %}
        </div>
    </main>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        {% include 'components/student_activation_modal.js.twig' %}
        {% include 'components/user_actions_modal.js.twig' with {personType: 'student'} %}
        $(function ($) {
            $('.table-responsive').on('shown.bs.dropdown', function (e) {
                var $table = $(this),
                    $menu = $(e.target).find('.dropdown-menu'),
                    tableOffsetHeight = $table.offset().top + $table.height(),
                    menuOffsetHeight = $menu.offset().top + $menu.outerHeight(true);

                if (menuOffsetHeight > tableOffsetHeight)
                    $table.css("padding-bottom", menuOffsetHeight - tableOffsetHeight);
            }).on('hide.bs.dropdown', function () {
                $(this).css("padding-bottom", 0);
            });

        });
    </script>


{% endblock %}
