{% extends 'base.html.twig' %}

{% block body -%}
    <h1>Creazione Gruppo</h1>

    <form action="{{ path('group_create', { 'id': entity.id, 'providerId': providerId }) }}" method="post" >
        {{ form_errors(form, { 'global_errors': true }) }}

        {{ form_row(form.name) }}
        {{ form_row(form.radiusVlan) }}
        {{ form_row(form.sector) }}

        {{ form_rest(form) }}

        <div class="row sendBtnArea">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Crea Gruppo</button>
            </div>
            <div class="col-sm-4 text-sm-center"></div>
            <div class="col-sm-4 text-sm-right">
                <a href="{{ path('list_groups_in_provider', {'providerId': providerId}) }}" class="btn btn-info">
                    Ritorna alla lista
                </a>
            </div>
        </div>
    </form>

{% endblock %}
