{% extends 'base.html.twig' %}

{% block body -%}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <h1>Mikrotik - Pool IP</h1>

            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Server Dhcp</th>
                    <th>Ip start</th>
                    <th>Ip end</th>
                    <th>Ip mikrotik</th>
                    <th>Creare automaticamente?</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td><a href="{{ path('mikrotik_pool_edit', { 'id': entity.id }) }}">{{ entity.nome }}</td>
                        <td>{{ entity.dhcpServerName }}</td>
                        <td>{{ entity.dottedIpStart }}</td>
                        <td>{{ entity.dottedIpEnd }}</td>
                        <td>{{ entity.mikrotik }}</td>
                        <td>
                            <i class="{{ entity.creareSuMikrotik  ? 'ti-check' : 'ti-close' }}"></i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-4">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-success" href="{{ path('mikrotik_pool_new') }}">
                        Aggiungi un nuovo pool
                    </a>
                </div>
                <div class="col-md-4">
                    <form class="form-search" action="{{ path('mikrotik_pool') }}">
                        <div class="form-group">
                            <input type="text" style="width: inherit; display: inline;"
                                   id="queryString" name="queryString" class="form-control" placeholder="Cerca">
                            <button class="btn btn-secondary" type="submit"><i class="ti-search"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
