{% extends 'base.html.twig' %}

{% block body -%}
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
    <h1>Modifica dei dati del router Mikrotik</h1>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="row sendBtnArea">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Salva modifiche</button>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('mikrotik') }}" class="btn btn-info">
                    Ritorna alla configurazione
                </a>
            </div>
            <div class="col-sm-4 text-sm-right">
                <a href="{{ path('config_mikrotik_delete', { 'id': entity.id }) }}" class="btn btn-danger">
                    Rimuovi questo router</a>
            </div>
        </div>
    {{ form_end(edit_form) }}


    </div>
</main>
{% endblock %}
